/*  background color(almost white):#e9ece5
  font color(almost black):#3b3a36 
  changing color(light blue color):#c0dfd9
  middle color(dark blue): #b3c2bf
*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
  width:100%;
  height:100%;
  background-color:#e9ece5;
    font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
}
p{
    font-size:1.2em;
    color:#3b3a36;
    text-align:left;
    word-spacing:0.6px;
    padding:2%;
  padding-right:6%;
}
h1{
    width:100%;
    height:5%;
    font-size:1.5em;
    font-weight:Bold;
    color:#3b3a36;
    text-align:left;
    padding:2%;
}
/*header section*/
header{
  opacity:0.9;
  height:40px;
    background-color:white;
  padding-bottom:60px;
  
}
#header-inner{
  position:fixed;
  top:0;
  background:white;
  width:100%;
  opacity:30;
}
#logo{
  opacity:0.9;
    color:#3b3a36;
    text-decoration:none;
  float:left;
  margin:20px 0 0 40px;
  padding-bottom:10px;
}
#menu-icon{
  display:none;
}
nav{
  opacity:0.9;
  height:40px;
  overflow:hidden;
  width:100%;
  background-color:white;
  color:#3b3a36;
  float:left;
}
nav ul{
    list-style-type: none;
  margin-left:40px;
}
nav ul li {
    float:left;
  overflow: hidden;
}
a {
    display: block;
    color:#3b3a36;
    text-align: center;
    text-decoration: none;
  margin-right:20px;
  font-size:1.5em;
  font-weight:600;
}
#logo a{
  font-size:2em;
  color:#c0dfd9;
}
li a:hover{
  color:#c0dfd9;
  border-bottom:2px solid #c0dfd9;
}
/*banner section*/
#banner{
  width:100%;
}
img.banner-image{
  width:100%;
}

/*footer section*/
footer{
  height:30%;
    padding:2%;
    background-color:#fff;
}
#footer-inner{
  margin-left:20px;
  padding-bottom:20px;
  height:100%;
  overflow:hidden;
}
#social-site{
  width:20%;
  float:left;
  padding-left:1%;
}
#about{
  height:100%;
  width:25%;
  float:left;
  border-right:1px solid #3b3a36;
}
#contact{
  width:25%;
  float:left;
  padding-left:1%;
  border-right:1px solid #3b3a36;
}
#quicklink{
  width:25%;
  float:left;
  padding-left:1%;
  border-right:1px solid #3b3a36;
}
a.social-icon{
  display:inline-block;
}
img.social-icon{
  height:50px;
  width:50px;
}

/*for mobile section*/
@media screen and (max-width:736px){
  p{
    font-size:1em;
  }
  h1{
    width:100%;
    height:5%;
    font-size:1em;
    font-weight:Bold;
    color:#3b3a36;
    text-align:left;
    padding:2%;
  }
  /*adjust for the header*/
  a {
    color:#3b3a36;
    text-align: center;
    text-decoration: none;
    margin-right:20px;
    font-size:1em;
    font-weight:600;
  }
  #logo a{
    font-size:1em;
    color:#c0dfd9;
  }
  
  /*adjust for footer*/
  #social-site{
    width:100%;
    float:left;
    padding-left:1%;
  }
  #about{
    width:100%;
    float:left;
    border-right:1px solid #3b3a36;
  }
  #contact{
    width:100%;
    float:left;
    padding-left:1%;
    border-right:1px solid #3b3a36;
  }
  #quicklink{
    width:100%;
    float:left;
    padding-left:1%;
    border-right:1px solid #3b3a36;
  }
}

